.card {
    // background-color: #2a9df4;

    background: #00b4d8;
    background-image: -webkit-linear-gradient(top, #00b4d8, #2a9df4);
    background-image: -moz-linear-gradient(top, #00b4d8, #2a9df4);
    background-image: -ms-linear-gradient(top, #00b4d8, #2a9df4);
    background-image: -o-linear-gradient(top, #00b4d8, #2a9df4);
    background-image: linear-gradient(to bottom, #00b4d8, #2a9df4);

    width: 20vw;
    min-width: 200px;
    height: 200px;
    border-radius: 10px;
    transition: 0.5s transform ease-in-out;
    -webkit-box-shadow: 17px 17px 47px -24px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 17px 17px 47px -24px rgba(0, 0, 0, 0.75);
    box-shadow: 17px 17px 47px -24px rgba(0, 0, 0, 0.75);
    display: grid;
    grid-template-rows: 4fr 6fr;

    .cardimg {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            font-size: 3rem;
            color: #caf0f8;
            font-weight: 500;
        }
    }

    .lower {


        .heading {
            font-size: 2rem;
            color: #caf0f8;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 600;
            margin-bottom: 2rem;
        }

        .details {
            margin-left: 1rem;
            color: #121212;
        }
    }

    &:hover {
        transform: scale(1.1);
    }
}